{% load static  %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PizzaSoft</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
    <script defer src="{% static 'js/index.js' %}"></script>
</head>
{% verbatim %}
<body>
<div id="root">
</div>
</body>
{% endverbatim %}
</html>
